<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="true">
        PM </ion-toggle>
        <ion-toggle  ng-model="false">
        JIRA </ion-toggle>
        <ion-toggle  ng-model="true">
        Twitter </ion-toggle>
        <ion-toggle  ng-model="true">
        Sapient</ion-toggle>
        <ion-toggle  ng-model="false">
        Service Now</ion-toggle>
        <ion-toggle  ng-model="true">
        AM </ion-toggle>
        
        
    </ion-list>
  </ion-content>
</ion-view>
